@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root { height: 100%; background:#000; overscroll-behavior-y: none; }

@supports (height: 100svh) {
  .app-viewport { height: calc(100svh - 56px); }
}